<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="simulado, anatel, telecomunicação, legislação, radioamador, radiofrequência, coer, prova, teste" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    


</head>

<body>
	<script src="https://acaciomartins.github.io/simulado-coer-anatel/index.js"></script>
    <div id="app">

        <div class="container">
            <section class="articles">
                <div class="column is-8 is-offset-2">
                    <div class="card article" v-if="!provaSelecionada">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content has-text-centered">
                                    <p class="title article-title">Simulado COER</p>
                                    <p><strong>Certificado de Operador de Estação de Radioamador</strong></p>
                                    <p>Provas retiradas do site da <a href="https://www.anatel.gov.br/setorregulado/radioamadorismo" target="_blank">Anatel</a></p>
                                </div>
                            </div>
                            <div class="content article-body">
                                <p>Selecione uma prova:</p>
                                <div class="buttons">
                                    <b-button type="is-primary" v-for="prova in provas" :key="prova.arquivo" @click="provaSelecionada = prova">
                                        {{ prova.titulo }}
                                    </b-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card article" v-else>
                        <div class="card-content" v-if="terminou">
                            <div class="media">
                                <div class="media-content has-text-centered">
                                    <p class="title article-title">Resultado</p>
                                    <p>Prova: {{ provaSelecionada.titulo }}</p>
                                    <p>Acertos: <strong>{{ totalAcertos}}</strong> (<strong>{{ porcentagemAcerto }}%</strong>)</p>
                                    <p>Tempo: {{ cronometro | formatarSegundos }}</p>
                                    <b-button type="is-info" @click="provaSelecionada = null">
                                        Realizar outra prova
                                    </b-button>
                                </div>
                            </div>
                            <div class="content article-body" v-for="(pergunta, i) in perguntasSelecionadas" :key="i">
                                <hr />

                                <p>
                                    <b-taglist attached>
                                        <b-tag type="is-dark">Pergunta</b-tag>
                                        <b-tag type="is-primary">#{{ pergunta.numero }}</b-tag>
                                    </b-taglist>
                                    {{ pergunta.enunciado }}
                                </p>

                                <div class="field" v-for="(alternativa, i) in pergunta.alternativas" :key="i">
                                    <p :class="{'has-background-success': alternativa.correta, 'has-background-danger': !alternativa.correta && i == pergunta.alternativaEscolhida}">
                                        <b-icon pack="far" icon="times-circle" v-if="i == pergunta.alternativaEscolhida && !alternativa.correta"></b-icon>
                                        <b-icon pack="far" icon="check-circle" v-else-if="alternativa.correta"></b-icon>
                                        <b-icon pack="far" icon="circle" v-else></b-icon>
                                        {{ alternativa.texto }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card-content" v-else>
                            <div class="media">
                                <div class="media-content has-text-centered">
                                    <p class="title article-title">{{ provaSelecionada.titulo }}</p>
                                    <b-progress :value="porcentagemProgresso" show-value>
                                        {{ indicePerguntaAtual+1}} de {{ totalPerguntas }}
                                    </b-progress>
                                    <p>{{ cronometro | formatarSegundos }}</p>
                                </div>
                            </div>
                            <div class="content article-body" v-if="perguntaAtual">
                                <b-taglist attached>
                                    <b-tag type="is-dark">Pergunta</b-tag>
                                    <b-tag type="is-primary">#{{ perguntaAtual.numero }}</b-tag>
                                </b-taglist>
                                <h4>{{ perguntaAtual.enunciado }}</h4>

                                <div class="field" v-for="(alternativa, i) in perguntaAtual.alternativas" :key="i">
                                    <b-radio v-model="alternativaEscolhida" :native-value="i">{{ alternativa.texto }}</b-radio>
                                </div>

                                <div class="buttons">
                                    <b-button type="is-primary" @click="avancar">Avançar</b-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

    <div class="loading-overlay is-active is-full-page"><div class="loading-background" style="background:white"></div> <div class="loading-icon"></div></div>


</body>
</html>
